NODE_ENV=development
# Public key from Chec's demo merchant account. This client key will enable you to deploy a live preview with
# Netlify's one-click deploy. Replace this key with your own account's public key afterwards.
REACT_APP_CHEC_PUBLIC_KEY=pk_184625ed86f36703d7d233bcf6d519a4f9398f20048ec